//
   Created by Administrator on 2016/11/10.
doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    title 李云
    meta(name="keywords",content="")
    meta(name="description", content="")
    link(rel='stylesheet', href='index.css')
  body
    .one 按钮
    table
      thead
        tr
          th 名字
          th id
          th sex
      tbody
  script(src="jquery-2.1.1.min.js")
  script(src="index.js")